src/test/resources/oracle-commerce-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:oracle-commerce="http://www.mulesoft.org/schema/mule/oracle-commerce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.5.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oracle-commerce http://www.mulesoft.org/schema/mule/oracle-commerce/current/mule-oracle-commerce.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
<oracle-commerce:config name="oracleCommerce" doc:name="OracleCommerce" host="73.47.102.249" port="8080"/>

<flow name="testFlow" doc:name="testFlow">
	<http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8080" path="oracleTest" doc:name="HTTP" contentType="application/json"/>
	<byte-array-to-string-transformer doc:name="Byte Array to String" mimeType="application/json"/>
	<json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Map"/>

	<choice doc:name="Choice">
		<when expression="payload.typeRequest=='rqlQuery'">
			<oracle-commerce:perform-r-q-l-query config-ref="oracleCommerce" itemDescriptorName="user" repositoryComponentPath="/atg/userprofiling/ProfileAdapterRepository" doc:name="OracleCommerce"   />
		</when>
		<when expression="payload.typeRequest=='rqlCountQuery'">
			<oracle-commerce:perform-r-q-l-count-query config-ref="oracleCommerce" itemDescriptorName="user" repositoryComponentPath="/atg/userprofiling/ProfileAdapterRepository" doc:name="OracleCommerce"  />
		</when>
		<when expression="payload.typeRequest=='getRepositoryItem'">
			<oracle-commerce:get-repository-item config-ref="oracleCommerce" itemDescriptorName="user" repositoryComponentPath="/atg/userprofiling/ProfileAdapterRepository" repositoryItemId="#[payload.itemId]" doc:name="OracleCommerce"   />
		</when>
	</choice>
</flow>
</mule>
